<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>Farmatron</h1>
  <h2>The date and time on the server is: {{ time }}</h2>
  <h2> {{ text }} </h2>
  <h3> {{ plot }} </h3>
  <a href="/humidity"><button>Check Soil Status</button></a> <br>
  <a href="/data_log"><button>Get Data Log</button></a> <br>
  <a href="/open_valve"><button>Open Valve</button></a> <br>
  <a href="/close_valve"><button>Close Valve</button></a> <br>
  <a href="/water_plants"><button>Water Plants</button></a> <br>
  <a href="/plot.png"><button>Show Graph</button></a> <br>
  </body>
</html>
